$list-spaces-width: 80%;
.main-pages-list {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.list-sidebar-sticky {
    position: sticky;
    top: 90px;
}
.list-sidebar {
    padding-top: 20px; 
    width: 100-$list-spaces-width;
}
.list-spaces {
    padding: 0px 10px;
    width: $list-spaces-width;
}
.list-spaces app-short-info {
    margin: 10px;
}
.width-100 {
    width: 100%;
}